<% if current_user %>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.hidden_field :commenter,:value => current_user.name %>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Post a comment" %>
  </div>
<% end %>
<% end %>